<dict>


<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb376297829520111</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>376297829520111</string>
<key>FacebookDisplayName</key>
<string>tachibanaWangan</string>

<key>LSApplicationQueriesSchemes</key>
<array>
  <string>fbapi</string>
  <string>fb-messenger-share-api</string>
  <string>fbauth2</string>
  <string>fbshareextension</string>
</array>


</dict>